body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Contenido principal */
.main-content {
    flex: 1;
    padding: 30px;
    background-color: white;
}

.issue-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.issue-header h1 {
    font-size: 24px;
    color: #008aa8;
    margin: 0;

}

.issue-header h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.issue-header h2:hover {
    cursor: pointer;
}

.issue-header form{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    width: 100%;
}

.issue-header form input[type="text"] {
    width: 85%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.issue-header form input[type="text"]:focus {
    border-color: #008aa8;
    outline: none;
}

.issue-header form button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.issue-header form button:hover {
    color: #2596be;
}

.creation-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

.creation-info-text {
    text-align: right;
}

.creation-info h1 {
    font-size: 14px;
    color: #2596be;
    margin: 0;
}

.creation-info p {  
    font-size: 14px;
    color: #888;
    margin: 0;
}

.creation-info img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.issue-info {
    display: block;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#editDesc-btn {
    display: flex;
    align-items: center;
    color: #333;
    gap: 10px;
    font-size: 10x;
    width: 100%;
    margin-bottom: 20px;
}

#editDesc-btn:hover {
    cursor: pointer;
}

.attachments-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: #eceff4;
}

.attachments-header h3 {
    font-size: 14px;
    color: #4c566a;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

.comments-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: #eceff4;
}

.comments-header h3 {
    font-size: 14px;
    color: #4c566a;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

/* Sidebar derecha */
.extra-info {
    width: 300px;
    background-color: #f9f9fb;
    border-left: 1px solid #ddd;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.05);
}

.param-field {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
  
.param-field label {
    display: block;
    font-size: 11px;
    text-transform: lowercase;
    color: #888;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
}

.param-value {
    margin-left: auto;
}

.colorDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.param-status {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.param-status label {
    font-size: 14px;
    color: #333;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.add-people {
    display: block;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
}

.add-people h3 {
    font-size: 10px;
    color: #333;    
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.added-user {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.added-user form {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    width: 100%;
    transition: 0.3s
}

.added-user form:hover {
    background-color: #f7f7f7;
    border-radius: 5px;;
    color: #2596be;
}

.added-user button {
    margin-left: auto;
    border: none;
    background-color: transparent; 
}

.added-user button:hover {
    cursor: pointer;
    color:chocolate;
}

.add-usr-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.add-usr-btn form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.add-usr-btn button {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    width: 100%;
}

.add-usr-btn button:hover {
    color: #2596be;
}

