<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New Issue</title>
</head>

<body>
    <div>
        <h1>New Issue</h1>
    </div>
    <form action="" method="POST">
        <label for="Subject">Subject:</label>
        <input type="text" id="Subject" name="Subject" required>

        <br><br>
        {% csrf_token %}
        <label for="description">description:</label>
        <input type="text" id="description" name="description" required>

        <br><br>

        <button type="submit">Create</button>
    </form>
</body>

</html>