<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>New Issue</title>
    <link rel="stylesheet" href="{% static 'css/create_issue.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="container">
        <a href="/issues" class="back-button">
            <i class="material-icons">arrow_back</i>
        </a>
        <h1>New Issue</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="Options">
                <!-- Left Column -->
                <div class="left-column">
                    <!-- Subject -->
                    <div class="form-section">
                        <label for="Subject">Subject:</label>
                        <input type="text" id="Subject" name="Subject" value="{{ form.Subject.value }}" required>
                    </div>

                    <!-- Description -->
                    <div class="form-section">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description">{{ form.description.value }}</textarea>
                    </div>

                    <!-- Attachments -->
                    <div class="form-section">
                        <label for="attachments">Attachments:</label>
                        <input type="file" id="attachments" name="attachments" multiple onchange="updateFileName(this)">
                    </div>
                </div>

                <!-- Right Column -->
                <div class="right-column">
                    <!-- Status -->
                    <div class="form-section">
                        <label for="status">Status:
                        </label>
                        <select id="status" name="status" required>
                            {% for s in status %}
                            <option value="{{ s.name }}" {% if form.status.value == s.name %}selected{% endif %}>
                                {{ s.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Type -->
                    <div class="form-section">
                        <label for="type">Type:</label>
                        <select id="type" name="type" required>
                            {% for type in types %}
                            <option value="{{ type.name }}" {% if form.type.value == type.name %}selected{% endif %}>
                                {{ type.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Severity -->
                    <div class="form-section">
                        <label for="severity">Severity:</label>
                        <select id="severity" name="severity" required>
                            {% for severity in severities %}
                            <option value="{{ severity.name }}" {% if form.severity.value == severity.name %}selected{% endif %}>
                                {{ severity.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Priority -->
                    <div class="form-section">
                        <label for="priority">Priority:</label>
                        <select id="priority" name="priority" required>
                            {% for priority in priorities %}
                            <option value="{{ priority.name }}" {% if form.priority.value == priority.name %}selected{% endif %}>
                                {{ priority.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="create-button">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
</body>

</html>