<!DOCTYPE html>
<html lang="en">
<title>{{issue.subject}} - Issue #{{issue.id}}</title>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{issue.subject}} - Issue #{{issue.id}}</title>
    <link rel="stylesheet" href="{% static 'css/issueDetail.css' %}">
</head>


<body>
    <div class="container">
        <div class="main-content">
            <h1>
                #{{ issue.id }} -

                <!-- Formulario oculto por defecto -->
                <form id="subject-form" method="POST" style="display: none;">
                    {% csrf_token %}
                    <input type="text" name="subject" id="subject-input" value="{{ issue.subject }}">
                    <button type="submit">💾</button>
                    <button type="button" onclick="cancelEditTitle()">❌</button>
                </form>

                <span id="edit-btn" onclick="enableEditTitle()">{{ issue.subject }}</span>
            </h1>

            <span id="editDesc-btn" onclick="enableEditDesc()">
                {% if issue.description %}
                {{ issue.description }}
                {% else %}
                No description set - Write something!
                {% endif %}
            </span>

            <form id="description-form" method="POST" style="display: none;">
                {% csrf_token %}
                <input type="text" name="description" id="description-input" value="{{ issue.description }}">
                <button type="submit">Save</button>
                <button type="button" onclick="cancelEditDesc()">Cancel</button>
            </form>

            <p>
                <strong>Deadline:</strong>
                <span id="deadline-display">
                    {% if issue.deadline %}
                    {{ issue.deadline|date:"d/m/Y" }}
                    {% else %}
                    No deadline set
                    {% endif %}
                </span>
                <button type="button" onclick="enableEditDeadline()">✏️</button>
            </p>

            <!-- Formulario para editar deadline -->
            <form id="deadline-form" method="POST" style="display: none;">
                {% csrf_token %}
                <input type="date" name="deadline" id="deadline-input"
                    value="{% if issue.deadline %}{{ issue.deadline|date:'Y-m-d' }}{% endif %}">
                <button type="submit">Save</button>
                <button type="button" onclick="cancelEditDeadline()">Cancel</button>
                <br>
            </form>

            <span id="editDesc-btn" onclick="enableEditDesc()">{{ issue.description }}</span>

            <br>

            <span>Created by - {{ issue.created_by.extra_data.name }} at {{issue.created_at}}</span>
            <img src="{{issue.created_by.extra_data.picture}}" width="25" height="25"/> 

            <div>
                <h3>Attachments</h3>
                <ul>
                    {% for attachment in attachments %}
                    <li>
                        <a href="{{ attachment.file.url }}" target="_blank">{{ attachment.filename }}</a>
                        ({{ attachment.formatted_filesize }})
                        {% if attachment.description %} - {{ attachment.description }}{% endif %}
                        <form method="POST" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="attachment_id" value="{{ attachment.id }}">
                            <button type="submit" name="delete_attachment" value="true"
                                onclick="return confirm('¿Estás seguro que quieres eliminar este archivo?');">✖</button>
                        </form>
                    </li>
                    {% empty %}
                    <li>No attachments</li>
                    {% endfor %}
                </ul>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="new_attachments" multiple>
                    <input type="text" name="attachment_description" placeholder="Description (optional)">
                    <button type="submit" name="upload_attachment" value="true">Upload</button>
                </form>
            </div>


            <div>
                <h3>Comments</h3>

                <form method="post">
                    {% csrf_token %}
                    {{ commentForm.comment }}
                    <br>
                    <button type="submit" name="add_comment" class="add_comment">Save</button>
                </form>

                {% for comment in comments %}
                <p>{{ comment.comment }}
                <p>
                <p><img src="{{comment.user.extra_data.picture}}" width="25" height="25" />
                    {{comment.user.extra_data.name}} -
                    {{comment.created_at}} </p>
                {% endfor %}

            </div>
        </div>

        <div class="extra-info">
            <form method="POST">
                {% csrf_token %}
                    <div class="param-status">
                        <label for="status">Status</label> 
                        <div class="param-st-value">{{ paramform.status }}</div>
                    </div>
                    <div class="param-field">
                        <label for="priority">Priority</label>
                        <div class="param-value">{{ paramform.priority }}</div>
                        <span class="colorDot" style="background-color: {{ issue.priority.color }}"></span>
                    </div>
                    <div class="param-field">
                        <label for="type">Type</label>
                        <div class="param-value">{{ paramform.type }}</div>
                        <span class="colorDot" style="background-color: {{ issue.type.color }}"></span>
                    </div>
                    <div class="param-field">
                        <label for="severity">Severity</label>
                        <div class="param-value">{{ paramform.severity }}</div>
                        <span class="colorDot" style="background-color: {{ issue.severity.color }}"></span>
                    </div>
                <button type="submit" class="btn btn-secondary" name="close" value="true" method="POST">Cerrar</button>
                <button type="submit" class="btn btn-danger" name="delete" value="true"
                    onclick="return confirmDelete();">Eliminar</button>
            </form>
            
            <div class="add-people">
                <h3>Assigned</h3>
                {% for assigned in assigneds %}
                <div class="added-user">
                    <form method="POST">
                        {% csrf_token %}
                            <img src="{{ assigned.assigned.extra_data.picture }}" width="45" height="45" />
                            <input type="hidden" name="delete_assigned_id" value="{{ assigned.id }}">
                            {{ assigned.assigned.extra_data.name }}
                            <button type="submit" name="deleteAssigned">✕</button>
                    </form>
                </div>
                {% empty %}
                <p>Not assigned</p>
                {% endfor %}

                <div class="add-usr-btn">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="button" onclick="document.getElementById('assignForm').style.display = 'block';">+ Add Assigned</button>
                        {% if is_assigned %}
                        <button type="submit" class="btn btn-danger" name="unsetAssigned" value="true">Unassign</button>
                        {% else %}
                        <button type="submit" class="btn btn-danger" name="setAssigned" value="true">Assigne to me</button>
                        {% endif %}
                    </form>
                </div>
            </div>

            <div id="assignForm" style="display: none; margin-top: 1em;">
                <form method="post">
                    {% csrf_token %}
                    <select name="assigned_user" required>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.extra_data.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="addAssigned" value="true">Assigne</button>
                </form>
            </div>

            <div class="add-people">
                <h3>Watchers</h3>
                {% for watcher in watchers %}
                <div class="added-user">
                    <form method="POST">
                        {% csrf_token %}
                        <img src="{{ watcher.watcher.extra_data.picture }}" width="45" height="45" />
                        <input type="hidden" name="delete_watcher_id" value="{{ watcher.id }}">
                        {{ watcher.watcher.extra_data.name }}
                        <button type="submit" name="deleteWatcher">✕</button>
                    </form>
                </div>
                {% empty %}
                <p>No watchers<p>
                {% endfor %}
                
                <div class="add-usr-btn">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="button" onclick="document.getElementById('watchForm').style.display = 'block';">+ Add Watcher</button>
                        {% if is_watching %}
                        <button type="submit" class="btn btn-danger" name="unsetWatcher" value="true">Unwatch</button>
                        {% else %}
                        <button type="submit" class="btn btn-danger" name="setWatcher" value="true">Watch</button>
                        {% endif %}
                    </form>
                </div>
            </div>

            <div id="watchForm" style="display: none; margin-top: 1em;">
                <form method="post">
                    {% csrf_token %}
                    <select name="watcher_user" required>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.extra_data.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="addWatcher" value="true">Watch</button>
                </form>
            </div>
        </div>
    </div>
        

    <script>
        function enableEditTitle() {
            document.getElementById("edit-btn").style.display = "none";
            document.getElementById("subject-form").style.display = "inline";
            document.getElementById("subject-input").focus();
        }

        function cancelEditTitle() {
            document.getElementById("edit-btn").style.display = "inline";
            document.getElementById("subject-form").style.display = "none";
        }

        function enableEditDesc() {
            document.getElementById("editDesc-btn").style.display = "none";
            document.getElementById("description-form").style.display = "inline";
            document.getElementById("description-input").focus();
        }

        function cancelEditDesc() {
            document.getElementById("editDesc-btn").style.display = "inline";
            document.getElementById("description-form").style.display = "none";
        }

        function confirmDelete() {
            return confirm("¿Estás seguro que quieres eliminar el issue?");
        }

        function enableEditDeadline() {
            document.getElementById("deadline-display").style.display = "none";
            document.getElementById("deadline-form").style.display = "inline";
            document.getElementById("deadline-input").focus();
        }

        function cancelEditDeadline() {
            document.getElementById("deadline-display").style.display = "inline";
            document.getElementById("deadline-form").style.display = "none";
        }
        document.addEventListener("DOMContentLoaded", function () {
            const deadlineDisplay = document.getElementById("deadline-display");
            const deadlineText = deadlineDisplay.innerText.trim();

            if (deadlineText !== "No deadline set") {
                const parts = deadlineText.split("/"); // Asumiendo formato dd/mm/yyyy
                const deadlineDate = new Date(parts[2], parts[1] - 1, parts[0]);
                const today = new Date();
                const diffTime = deadlineDate - today;
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

                if (diffDays < 0) {
                    deadlineDisplay.style.color = "red"; // Pasado
                } else if (diffDays <= 2) {
                    deadlineDisplay.style.color = "orange"; // Próximos 2 días
                } else {
                    deadlineDisplay.style.color = "green"; // A futuro
                }
            }
        });
    </script>

</body>

</html>