<!DOCTYPE html>
<html lang="en">
<title>{{issue.subject}} - Issue #{{issue.id}}</title>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{issue.subject}} - Issue #{{issue.id}}</title>
    <link rel="stylesheet" href="{% static 'css/issueDetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<body>
    <div class="container">
        <div class="main-content">
            <div class="issue-header">
                <h1>#{{ issue.id }}</h1>

                <!-- Formulario oculto por defecto -->
                <form id="subject-form" method="POST" style="display: none;">
                    {% csrf_token %}
                    <input type="text" name="subject" id="subject-input" value="{{ issue.subject }}">
                    <button type="submit">
                        <i class="material-icons">save</i>
                    </button>
                    <button type="button" onclick="cancelEditTitle()">
                        <i class="material-icons">cancel</i>
                    </button>
                </form>

                <h2 id="edit-btn" onclick="enableEditTitle()">
                    {{ issue.subject }}
                    {% if issue.deadline %}
                    <i class="material-icons" title='{{ issue.deadline|date:"d/m/Y" }}'>schedule</i>
                    {% endif %}
                </h2>
            </div>

            <div class="creation-info">
                <div class="creation-info-text">
                    <h1>Created by {{ issue.created_by.extra_data.name }}</h1>
                    <p>{{issue.created_at}}
                    <p>
                </div>
                {% if issue.created_by.user.profile.avatar %}
                <img src="{{ issue.created_by.user.profile.avatar.url }}" />
                {% else %}
                <img src="{{issue.created_by.extra_data.picture}}" />
                {% endif %}
            </div>

            <hr class="head-separator">

            <div class="issue-info">
                <div id="editDesc-btn" onclick="enableEditDesc()">
                    {% if issue.description %}
                    {{ issue.description }}
                    {% else %}
                    No description set - Write something!
                    {% endif %}
                </div>

                <form id="description-form" method="POST" style="display: none;">
                    {% csrf_token %}
                    <input type="text" name="description" id="description-input" value="{{ issue.description }}">
                    <button type="submit">
                        <i class="material-icons">save</i>
                    </button>
                    <button type="button" onclick="cancelEditDesc()">
                        <i class="material-icons">cancel</i>
                    </button>
                </form>

                <br>

                <div class="attachments">
                    <div class="attachments-header">
                        <h3> {{ attachments|length }} Attachments</h3>
                    </div>
                    {% for attachment in attachments %}
                    <div class="attachment-item">
                        <a href="{{ attachment.file.url }}" target="_blank" class="attachment-url">
                            <i class="material-icons">attachment</i>
                            <p>{{ attachment.filename }}</p>
                        </a>

                        <div class="attachment-description">
                            {% if attachment.description %}
                            {{ attachment.description }}
                            {% endif %}
                        </div>

                        <div class="attachment-filesize">
                            ({{ attachment.formatted_filesize }})
                        </div>

                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="attachment_id" value="{{ attachment.id }}">
                            <button type="submit" name="delete_attachment" value="true"
                                onclick="return confirm('¿Estás seguro que quieres eliminar este archivo?');">
                                <i class="material-icons">delete</i>
                            </button>
                        </form>

                    </div>
                    {% empty %}
                    <li>No attachments</li>
                    {% endfor %}


                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="new_attachments" id="file-upload" multiple>
                        <!--<label for="file-upload">
                                <i class="material-icons">upload_file</i>
                            </label>-->
                        <input type="text" name="attachment_description" placeholder="Description (optional)">
                        <button type="submit" name="upload_attachment" value="true">Upload</button>
                    </form>
                </div>


                <div class="comments-section">
                    <div class="comments-header">
                        <h3>{{ comments|length }} Comments</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {{ commentForm.comment }}
                        <br>
                        <button type="submit" name="add_comment" class="add_comment">Save</button>
                    </form>

                    {% for comment in comments %}
                    <div class="comment-item">
                        {% if comment.user.user.profile.avatar %}
                        <img src="{{ comment.user.user.profile.avatar.url }}" />
                        {% else %}
                        <img src="{{ comment.user.extra_data.picture }}" />
                        {% endif %}
                        <div class="comment-info">
                            <span>
                                <h1> {{comment.user.extra_data.name}} </h1>
                                <p>{{comment.created_at}} </p>
                            </span>
                            {{ comment.comment }}
                        </div>
                    </div>
                    <hr class="separator">
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="extra-info">
            <form method="POST">
                <input type="hidden" name="edit_params" value="true">
                {% csrf_token %}
                <div class="param-status">
                    <label for="status">Status</label>
                    <div class="param-st-value">
                        {{ paramform.status }}
                    </div>
                </div>
                <div class="param-field">
                    <label for="priority">Priority</label>
                    <div class="param-value">{{ paramform.priority }}</div>
                    <span class="colorDot" style="background-color: {{ issue.priority.color }}"></span>
                </div>
                <div class="param-field">
                    <label for="type">Type</label>
                    <div class="param-value">{{ paramform.type }}</div>
                    <span class="colorDot" style="background-color: {{ issue.type.color }}"></span>
                </div>
                <div class="param-field">
                    <label for="severity">Severity</label>
                    <div class="param-value">{{ paramform.severity }}</div>
                    <span class="colorDot" style="background-color: {{ issue.severity.color }}"></span>
                </div>
            </form>

            <hr class="separator">

            <div class="add-people">
                <h3>Assigned</h3>
                {% for assigned in assigneds %}
                <div class="added-user">
                    <form method="POST">
                        {% csrf_token %}
                        {% if assigned.assigned.user.profile.avatar %}
                        <img src="{{ assigned.assigned.user.profile.avatar.url }}" width="45" height="45" />
                        {% else %}
                        <img src="{{ assigned.assigned.extra_data.picture }}" width="45" height="45" />
                        {% endif %}
                        <input type="hidden" name="delete_assigned_id" value="{{ assigned.id }}">
                        {{ assigned.assigned.extra_data.name }}
                        <button type="submit" name="deleteAssigned">✕</button>
                    </form>
                </div>
                {% empty %}
                <p>Not assigned</p>
                {% endfor %}

                <div class="add-usr-btn">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="button" onclick="document.getElementById('assignForm').style.display = 'block';">+
                            Add Assigned</button>
                        {% if is_assigned %}
                        <button type="submit" class="btn btn-danger" name="unsetAssigned" value="true">Unassign</button>
                        {% else %}
                        <button type="submit" class="btn btn-danger" name="setAssigned" value="true">Assigne to
                            me</button>
                        {% endif %}
                    </form>
                </div>
            </div>

            <div id="assignForm" style="display: none; margin-top: 1em;">
                <form method="post">
                    {% csrf_token %}
                    <select name="assigned_user" required>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.extra_data.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="addAssigned" value="true">Assigne</button>
                </form>
            </div>

            <hr class="separator">

            <div class="add-people">
                <h3>Watchers</h3>
                {% for watcher in watchers %}
                <div class="added-user">
                    <form method="POST">
                        {% csrf_token %}
                        {% if watcher.watcher.user.profile.avatar %}
                        <img src="{{ watcher.watcher.user.profile.avatar.url }}" width="45" height="45" />
                        {% else %}
                        <img src="{{ watcher.watcher.extra_data.picture }}" width="45" height="45" />
                        {% endif %}
                        <input type="hidden" name="delete_watcher_id" value="{{ watcher.id }}">
                        {{ watcher.watcher.extra_data.name }}
                        <button type="submit" name="deleteWatcher">✕</button>
                    </form>
                </div>
                {% empty %}
                <p>No watchers
                <p>
                    {% endfor %}

                <div class="add-usr-btn">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="button" onclick="document.getElementById('watchForm').style.display = 'block';">+
                            Add Watcher</button>
                        {% if is_watching %}
                        <button type="submit" class="btn btn-danger" name="unsetWatcher" value="true">Unwatch</button>
                        {% else %}
                        <button type="submit" class="btn btn-danger" name="setWatcher" value="true">Watch</button>
                        {% endif %}
                    </form>
                </div>
            </div>


            <div id="watchForm" style="display: none; margin-top: 1em;">
                <form method="post">
                    {% csrf_token %}
                    <select name="watcher_user" required>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.extra_data.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="addWatcher" value="true">Watch</button>
                </form>
            </div>

            <hr class="separator">

            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn-sidebar" name="back" value="true">
                    <i class="material-icons">arrow_back</i>
                </button>
                <button type="submit" class="btn-sidebar" name="delete" value="true" onclick="return confirmDelete();">
                    <i class="material-icons a">delete</i>
                </button>
                <button type="button" class="btn-sidebar" onclick="enableEditDeadline()">
                    <i class="material-icons">access_time_filled</i>
                </button>
            </form>

            <!-- Formulario para editar deadline -->
            <form id="deadline-form" method="POST" style="display: none;">
                {% csrf_token %}
                <input type="date" name="deadline" id="deadline-input"
                    value="{% if issue.deadline %}{{ issue.deadline|date:'Y-m-d' }}{% endif %}">
                <button type="submit">Save</button>
                <button type="button" onclick="cancelEditDeadline()">Cancel</button>
                <br>
            </form>

        </div>
    </div>


    <script>
        function enableEditTitle() {
            document.getElementById("edit-btn").style.display = "none";
            document.getElementById("subject-form").style.display = "flex";
            document.getElementById("subject-input").focus();
        }

        function cancelEditTitle() {
            document.getElementById("edit-btn").style.display = "flex";
            document.getElementById("subject-form").style.display = "none";
        }

        function enableEditDesc() {
            document.getElementById("editDesc-btn").style.display = "none";
            document.getElementById("description-form").style.display = "flex";
            document.getElementById("description-input").focus();
        }

        function cancelEditDesc() {
            document.getElementById("editDesc-btn").style.display = "flex";
            document.getElementById("description-form").style.display = "none";
        }

        function confirmDelete() {
            return confirm("¿Estás seguro que quieres eliminar el issue?");
        }

        function enableEditDeadline() {
            document.getElementById("deadline-form").style.display = "inline";
            document.getElementById("deadline-input").focus();
        }

        function cancelEditDeadline() {
            document.getElementById("deadline-form").style.display = "none";
        }
        document.addEventListener("DOMContentLoaded", function () {
            const deadlineDisplay = document.getElementById("deadline-display");
            const deadlineText = deadlineDisplay.innerText.trim();

            if (deadlineText !== "No deadline set") {
                const parts = deadlineText.split("/"); // Asumiendo formato dd/mm/yyyy
                const deadlineDate = new Date(parts[2], parts[1] - 1, parts[0]);
                const today = new Date();
                const diffTime = deadlineDate - today;
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

                if (diffDays < 0) {
                    deadlineDisplay.style.color = "red"; // Pasado
                } else if (diffDays <= 2) {
                    deadlineDisplay.style.color = "orange"; // Próximos 2 días
                } else {
                    deadlineDisplay.style.color = "green"; // A futuro
                }
            }
        });
    </script>

</body>

</html>