<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Boreal Forest</title>
</head>

<body>
  <style> 
    .colorDot {
      width: 12px; 
      height: 12px; 
      border-radius: 50%; 
      display: inline-block;
    }
  </style>

  <div>
    <h1>Boreal forest</h1>
  </div>
  <form action="new/" method="get">
    <button type="submit">+ NEW ISSUE</button>
  </form>
  <br><br>
  <form method = "GET">
    <input type="text" name = "q" placeholder="Buscar issues..." value="{{ request.GET.q }}">
    <button type="submit">Buscar</button>
  </form>
  {% for issue in filter.qs %}
  <div>
    <p><b> #{{issue.id}} <a href="/issue/{{issue.id}}">{{issue.subject}}<a></b></p>
    <span class="colorDot" style="background-color: {{ issue.priority.color }}">
    </span>
    <span class="colorDot" style="background-color: {{issue.type.color}}">
    </span>
    <span class="colorDot" style="background-color: {{issue.severity.color}}">
    </span>
    <p style="color: {{issue.status.color}}">{{issue.status.name}}</p>
    <br>
  </div>
  {% empty %}
  <p>No hay issues registrados.</p>
  {% endfor %}
</body>

</html>