<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Boreal Forest</title>
</head>

<body>
  <div>
    <h1>Boreal forest</h1>
  </div>
  <form action="new/" method="get">
    <button type="submit">+ NEW ISSUE</button>
  </form>
  {% for issue in issues %}
  <div>
    <p><b> #{{issue.id}} <a href="/issue/{{issue.id}}">{{issue.subject}}<a></b></p>
    <p>{{issue.status}} , {{issue.type}} , {{issue.severity}}, {{issue.priority}}</p>
    <br>
  </div>
  {% empty %}
  <p>No hay issues registrados.</p>
  {% endfor %}
</body>

</html>